@model org.buraktamturk.web.Controllers.PostModel
@{
	ViewBag.title = Model.post.post.title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section meta {
	<meta content='article' property='og:type'/>
	<meta content='@Model.post.title' property='og:title'/>
}
<h1>@Model.post.title</h1>
<p>by <strong>@Model.first.author.name</strong> (<a href="#">@Model.first.author.mail</a>) at @Model.first.created_at @if(Model.first.post != Model.post.post) { <br /><span>last modified at @Model.post.created_at</span> }</p>
@Html.Raw(Model.post.data)
<div id="disqus_thread"></div>
<script src="//buraktamturk.disqus.com/embed.js" async defer></script>
